<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="hdBoardMapper">

<resultMap type="QnA" id="QnAResultSet">
<id property="qnaId" column="QNA_ID" />
<result property="qnaTitle" column="QNA_TITLE"/>
<result property="qnaWriter" column="QNA_WRITER"/>
<result property="qnaContent" column="QNA_CONTENT"/>
<result property="qnaOriginalFileName" column="QNA_ORIGINAL_FILENAME"/>
<result property="qnaRenameFileName" column="QNA_RENAME_FILENAME"/>
<result property="qnaCount" column="QNA_COUNT"/>
<result property="qnaCreateDate" column="QNA_CREATE_DATE"/>
<result property="qnaModifyDate" column="QNA_MODIFY_DATE"/>
<result property="qnaStatus" column="QNA_STATUS"/>
</resultMap>

<resultMap type="Reply" id="QNA_replyResultSet">
		<id property="rId" column="QNA_RID"/>
		<result property="rContent" column="QNA_RCONTENT"/>
		<result property="refQid" column="QNA_REF_BID"/>
		<result property="rWriter" column="QNA_RWRITER"/>
		<result property="rCreateDate" column="QNA_R_CREATE_DATE"/>
		<result property="rmodifyDate" column="QNA_R_MODIFY_DATE"/>
		<result property="rStatus" column="QNA_R_STATUS"/>
		<result property="rName" column="QNA_RNAME"/>
		<result property="refRid" column="QNA_REF_RID"/>
		<result property="qType" column="QNATYPE"/>
	</resultMap>


<select id="getListCount" resultType="_int">
	SELECT COUNT(*)
	   FROM TB_HELPDESK_QNA
	   WHERE QNA_STATUS = 'Y'
</select>

<select id="selectList" resultMap="QnAResultSet">
	SELECT *
	   FROM TB_HELPDESK_QNA
	   WHERE QNA_STATUS = 'Y'
	   ORDER BY QNA_ID DESC
	   
</select>

<update id="updateCount" parameterType="_int">
	UPDATE TB_HELPDESK_QNA 
	SET QNA_COUNT = QNA_COUNT +1 
	WHERE QNA_ID = #{b.qnaId}
	</update>

<select id="selectBoard" resultMap="QnAResultSet">
SELECT * 
  FROM TB_HELPDESK_QNA
  WHERE QNA_ID = #{b.qnaId}
</select>

	<insert id="insertQnA" parameterType="QnA">
 	 	INSERT INTO TB_HELPDESK_QNA
 	 	VALUES(SEQ_QNA_ID.NEXTVAL,#{qnaTitle},#{qnaContent},#{qnaWriter},#{qnaName},DEFAULT,SYSDATE,SYSDATE,'Y','N')
 	 </insert>

<select id="updateBoard" resultMap="QnAResultSet">
		SELECT *
		FROM TB_HELPDESK_QNA
		WHERE QNA_ID = #{qnaId}
		AND QNA_STATUS='Y'
</select>

<update id="updateContents" parameterType="QnA">
	UPDATE TB_HELPDESK_QNA
			  SET  QNA_TITLE=#{qnaTitle},
				      QNA_CONTENT=#{qnaContent},
					  QNA_MODIFY_DATE=SYSDATE
		WHERE  QNA_ID = #{qnaId}
</update>

<update id="deleteBoard" parameterType="_int">
		UPDATE TB_HELPDESK_QNA
		SET QNA_STATUS = 'N'
		WHERE QNA_ID = #{qnaId}
	</update>
	
	
<select id="getMyListCount" resultType="_int">
	SELECT COUNT(*)
	   FROM TB_HELPDESK_QNA
	   WHERE QNA_WRITER = #{sNo}
</select>


<select id="mySelectList" resultMap="QnAResultSet">
	SELECT *
	   FROM TB_HELPDESK_QNA
	   WHERE QNA_WRITER = #{sNo}
	   ORDER BY QNA_ID DESC
</select>

<select id="selectReplyList" parameterType="_int" resultMap="QNA_replyResultSet">
		SELECT *
		   FROM TB_QNA_REPLY
		 WHERE QNA_REF_BID = #{qnaId}
		 AND QNA_R_STATUS = 'Y'
		 ORDER BY QNA_RID DESC
	</select>
	
	<insert id="insertReply" parameterType="Reply">
		INSERT INTO TB_QNA_REPLY
		VALUES(SEQ_QNA_RID.NEXTVAL,#{rContent},#{refQid},SYSDATE,SYSDATE,#{rWriter},DEFAULT,#{rName},#{refRid},DEFAULT)
	</insert>

<update id="deleteReply" parameterType="reply">
		UPDATE TB_QNA_REPLY
 	 	SET  QNA_R_STATUS='N'
 		WHERE QNA_RID= #{rId}
 		OR QNA_REF_BID =#{rId}
</update>

 <insert id="updateReply" parameterType="Reply">
 	 	UPDATE TB_QNA_REPLY
 	 	SET  QNA_RCONTENT=#{rContent}
 		WHERE QNA_RID= #{rId}
 	 </insert>


</mapper>