<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="noticeMapper">
 
  <resultMap type="Notice" id="noticeResultSet">
  		<id property="nId" column="NID"/>
  		<result property="nType" column="NTYPE"/>
		<result property="nTitle" column="NTITLE"/>
		<result property="nWriter" column="NWRITER"/>
		<result property="nWriter" column="NNAME"/>
		<result property="nContent" column="NCONTENT"/>
		<result property="nCount" column="NCOUNT"/>
		<result property="originalFileName" column="ORIGINAL_FILENAME"/>
		<result property="renameFileName" column="RENAME_FILENAME"/>
		<result property="nCount" column="BCOUNT"/>
		<result property="nCreateDate" column="N_CREATE_DATE"/>
		<result property="nModifyDate" column="N_MODIFY_DATE"/>
		<result property="nStatus" column="N_STATUS"/>
		<result property="nStatus" column="N_SECRET"/>
 	 </resultMap>
 	 
 	  <resultMap type="NReply" id="replyResultSet">
 	 	<id property="rId" column="N_RID"/>
		<result property="rContent" column="N_RCONTENT"/>
		<result property="refNid" column="N_REF_NID"/>
		<result property="rWriter" column="N_RWRITER"/>
		<result property="rCreateDate" column="N_R_CREATE_DATE"/>
		<result property="rmodifyDate" column="N_R_MODIFY_DATE"/>
		<result property="rStatus" column="N_R_STATUS"/>
 	 </resultMap>
 	 
 	 	<select id="getListCount"  resultType="_int">
  		SELECT COUNT(*)
  		FROM TB_DEPT_NOTICE
  		WHERE N_STATUS='Y'	
 		</select>
		<select id="selectList" resultMap="noticeResultSet">
 		SELECT *
		FROM TB_DEPT_NOTICE
		WHERE N_STATUS='Y'
		ORDER BY NID DESC
 	 </select>
 	 <update id="updateCount" parameterType="_int">
 	 	UPDATE TB_DEPT_NOTICE
 	 	SET NCOUNT = NCOUNT+1
 	 	WHERE NID=#{nId}
 	 </update>
 	  <select id="selectNotice" resultMap="noticeResultSet">
 	 	SELECT *
 	 	FROM TB_DEPT_NOTICE
 	 	WHERE NID=#{nId}
 	 	AND N_STATUS='Y'
 	 </select>
 	  <insert id="insertNotice" parameterType="Notice">
 	 	INSERT INTO TB_DEPT_NOTICE
 	 	VALUES(SEQ_NID.NEXTVAL,#{nType},#{nTitle},#{nContent},#{nWriter},#{nName},DEFAULT,DEFAULT,DEFAULT,DEFAULT,#{originalFileName},#{renameFileName},DEFAULT)
 	 </insert>
 	 <update id="updateNotice"  parameterType="Notice">
 	 	UPDATE TB_DEPT_NOTICE
 	 	SET NTITLE=#{nTitle},NCONTENT=#{nContent},ORIGINAL_FILENAME=#{originalFileName},RENAME_FILENAME=#{renameFileName},N_MODIFY_DATE=SYSDATE
 	 	WHERE NID=#{nId} 
 	 </update>
 	 
 	  <update id="deleteNotice" parameterType="_int">
 	 	UPDATE TB_DEPT_NOTICE
 	 	SET N_STATUS ='N'
 	 	WHERE NID= #{nId}
 	 </update>
 	 <select id="selectReplyList" parameterType="_int" resultMap="replyResultSet">
 	 	SELECT *
 	 	FROM TB_NOTICE_REPLY
 	 	WHERE N_REF_NID=#{nId}
 	 	AND N_R_STATUS='Y'
 	 	ORDER BY N_RID DESC
 	 </select>
 	 
 	  <insert id="insertReply" parameterType="Reply">
 	 	INSERT INTO TB_NOTICE_REPLY
 	 	VALUES(SEQ_N_RID.NEXTVAL,#{rContent},#{refNid},SYSDATE,SYSDATE,#{rWriter},DEFAULT)
 	 </insert>
</mapper>
