<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="registrationMapper">

	<resultMap type="Registration" id="RegistrationResultSet">
		<id property="dNo" column="DEPT_NO" />
		<result property="dName" column="DEPT_NAME" />
		<result property="semNo" column="SEME_NO" />
		<result property="cNo" column="CLASS_NO" />
		<result property="cName" column="CLASS_NAME" />
		<result property="cType" column="CLASS_TYPE" />
		<result property="pName" column="PROF_NAME" />
		<result property="pNo" column="PROF_NO" />
		<result property="credit" column="CREDIT" />
		<result property="sNo" column="STUDENT_No" />
	</resultMap>
	
<resultMap type="semesterPoint" id="semesterPointResultSet">
		<id property="sNo" column="STD_NO" />
		<result property="semYear" column="SEM_YEAR" />
		<result property="semNo" column="SEME_NO" />
		<result property="cNo" column="CLASS_NO" />
		<result property="cType" column="CLASS_TYPE" />
		<result property="mTest" column="MID_TEST" />
		<result property="fTest" column="FINAL_TEST" />
		<result property="report" column="REPORT" />
		<result property="attendance" column="ATTENDANCE" />
		<result property="point" column="POINT" />
		<result property="pNo" column="PROF_NO" />
		<result property="count" column="COUNT" />
		<result property="avgPoint" column="AVG_POINT" />
		<result property="profName" column="PROF_NAME" />
		<result property="deptName" column="DEPT_NAME" />
		<result property="sName" column="STD_NAME" />
		<result property="cName" column="CLASS_NAME" />
		<result property="sysdate" column="SYSDATE" />
		<result property="credit" column="CREDIT" />
	</resultMap>
	
	<resultMap type="RegistrationSNO" id="RegistrationSNOResultSet">
		<id property="dNo" column="DEPT_NO" />
		<result property="dName" column="DEPT_NAME" />
	</resultMap>
	


	<select id="rSelectList" resultMap="RegistrationResultSet">
		    SELECT  
            
	        CLASS_NO,
	        CLASS_NAME,
	        CLASS_TYPE,
            d.dept_no,
            p.prof_no,
            p.prof_name,
	        CREDIT
			FROM TB_CLASS C
			JOIN TB_DEPARTMENT D on (D.DEPT_NO=c.dept_no)          
			left outer JOIN TB_CLASS_PROFESSOR CP USING(CLASS_NO)
            left JOIN TB_PROFESSOR P ON( p.prof_no= CP.PROFESSOR_NO)
            where TO_NUMBER(D.DEPT_NO) =#{dNo}
	</select>
	
	   	
	
	<select id="myRSelectList" resultMap="RegistrationResultSet">
	
         SELECT * FROM TESTT T
         join TB_class_PROFESSOR using(class_no)
         join TB_CLASS C using(class_no)
         WHERE STD_NO = #{sNo} 
	</select>
	
	<insert id="insertRegistration" parameterType="java.util.ArrayList">
			<foreach collection="list" item="item"  separator=" " open="INSERT ALL" close="SELECT * FROM DUAL"> 
			
			INTO TB_SEMESTER_POINT	( 
				STD_NO 
			  , SEM_YEAR 
			  , SEME_NO
			  , CLASS_NO 
			  , MID_TEST
			  , FINAL_TEST
			  , REPORT
			  , ATTENDANCE
			  , POINT
			  , PROF_NO
			  , AVG_POINT
			  
			)VALUES (
		
			   #{item.sNo} 
			 , #{item.semYear} 
			 , #{item.semNo} 
			 , #{item.cNo}
			 , #{item.mTest}
			 , #{item.fTest}
			 , #{item.report}
			 , #{item.attendance}
			 , #{item.point}
			 , #{item.pNo}
			 , #{item.avgPoint}
			 )
		 </foreach>
		   
	</insert>
	<select id="gradeList" resultMap="RegistrationResultSet">
	
     	SELECT  P.PROF_NO,CLASS_NO,CLASS_NAME,P.PROF_NAME,P.DEPT_NO,D.DEPT_NAME,CREDIT,C.CLASS_TYPE,std_no,SEM_YEAR,SEME_NO,std_no
         FROM TB_CLASS C
         JOIN TB_DEPARTMENT D USING(DEPT_NO)
         JOIN TB_CLASS_PROFESSOR CP USING(CLASS_NO)
         JOIN TB_PROFESSOR P ON(P.PROF_NO = CP.PROFESSOR_NO)
         join  TB_SEMESTER_POINT sp using(class_no)
         where std_no =#{sNo}
         and seme_no =#{semNo}
         and sem_year =#{semYear}
	</select>
	

</mapper>
